.header {
  width: 100vw;
  height: 80px;
  background-color: var(--primary-color);
  padding-top: 20px;
}

.header a {
  text-decoration: none;
  padding-left: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}

header a img {
  width: 40px;
  height: 40px;
  object-fit: fill;
  border-radius: 10px;
}

header a h1 {
  color: #fff;
}
