.sidebar {
  width: 220px;
  height: 100vh;
  padding: 20px;
  background-color: var(--dark-gray);
  position: fixed;
  z-index: 1000;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.profile__image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.profile__name {
  color: #fff;
  font-size: var(--small-text);
}

.profile__logout {
  margin-top: 8px;
  width: fit-content;
  font-size: var(--small-text);
  background-color: var(--high-priority);
  padding: 4px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms;
  color: #fff;
}

.profile__logout:hover {
  box-shadow: inset -3px -3px 2px var(--gray);
  padding: 4px 18px 4px 16px;
}

.aside__nav {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.aside__link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 8px 24px;
  cursor: pointer;
  transition: all 300ms;
}

.aside__link:hover {
  box-shadow: inset -300px -300px var(--gray);
  border-radius: 10px;
  transform: scale(1.05);
}

.aside__link--active {
  text-decoration: none;
  font-weight: bold;
  padding: 8px 24px;
  color: var(--dark-gray);
  font-size: var(--small-text);
  background-color: #fff;
  cursor: initial;
  border-radius: 10px;
}

.sidebar__footer {
  width: 180px;
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__footer p {
  color: #fff;
  font-size: var(--footer-text);
}
