:root {
  /* Primary Colors */
  --primary-color: #6d28d9;
  --lighter-gray: #64748b;
  --light-gray: #334155;
  --gray: #1e293b;
  --dark-gray: #0f172a;
  --texts-gray: #64748b;

  --bg-color: #1e293b;
  --sidebar-bg-color: #0f172a;

  /* Status and priority Colors */
  --next-up: #94a3b8;
  --in-progress: #fcd34d;
  --pending: #3f20ff;
  --discarted: #8b5cf6;
  --completed: #10b981;
  --high-priority: #ef4444;
  --medium-priority: #b45309;
  --low-priority: #10b981;

  /* Texts */
  --header-title: 39.81px;
  --sub-title: 23.08px;
  --big-text: 18px;
  --normal-text: 16px;
  --small-text: 14.22px;
  --footer-text: 11.24px;
}

/* --------------------------------------------------------- */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}
