<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/sidebar.css" />
    <link rel="stylesheet" href="/styles/error_404.css" />
    <link rel="stylesheet" href="/styles/forms.css" />
    <link rel="stylesheet" href="/styles/tasks_by_status.css" />

    <link rel="icon" href="/images/Checklist.webp" />
    <title>Things To Do</title>
  </head>
  <body>
    <header class="header">
      <a href="/">
        <img src="/images/Checkbox.jpg" />
        <h1>Things To Do</h1>
      </a>
    </header>
    {{{body}}}
  </body>
</html>