<aside class="sidebar">
  <div class="sidebar--profile_info">
    <div class="profile">
      <img src="{{imgURL}}" alt="Profile image" />
      <p>{{UserName}}</p>
    </div>
  </div>
  <div class="sidebar--links">
    <a href="/tasks">Tasks</a>
    <a href="/notes">Personal notes</a>
    <a href="/events">Events</a>
  </div>
  <footer class="sidebar--footer">
    <p>&#169; Francisco Muñiz</p>
    <p>mf.franciscomuniz@gmail.com</p>
  </footer>
</aside>