<div class="forms__body">
  <div class="forms__container">
    <div class="form__selector">
      <button class="form__selector_button form__selector_button--active">Login
        form</button>
      <button class="form__selector_button">Register form</button>
    </div>
    {{! ------------------------------- }}
    <form class="form" action="/login" method="post">
      <div class="forms__input_container">
        <label class="forms__label" for="">User email:</label>
        <input
          class="forms__input"
          type="email"
          name=""
          id=""
          placeholder="Email"
        />
      </div>

      <div class="forms__input_container">
        <label class="forms__label" for="">Password:</label>
        <input
          class="forms__input"
          type="password"
          name=""
          id=""
          placeholder="*********"
        />
      </div>

      <a href="/reset-password" class="form__reset_password">Forgot your
        password?</a>

      <button class="forms__submit_button" type="submit">Login</button>
    </form>
    {{! ------------------------------- }}
    <form class="form" action="/register" method="post">

    </form>
  </div>
</div>