<div class="forms__body">
  <div class="forms__container">
    <div class="form__selector">
      <button class="form__selector_button form__selector_button--active">Login
        form</button>
      <button class="form__selector_button">Register form</button>
    </div>
    {{! ------------------------------- }}
    <form action="/login" method="post">

    </form>
    {{! ------------------------------- }}
    <form action="/register" method="post">

    </form>
  </div>
</div>