<div class="forms__body">
  <div class="forms__container">
    <div class="form__selector">
      <button
        onclick="changeToLoginForm()"
        class="form__selector_button form__selector_button--active"
      >Login form</button>
      <button
        onclick="changeToRegisterForm()"
        class="form__selector_button"
      >Register form</button>
    </div>
    {{! ------------------------------- }}
    <form class="form login_form" action="/login" method="post">
      <div class="forms__input_container">
        <label class="forms__label" for="">Email:</label>
        <input class="forms__input" type="email" name="" placeholder="Email" />
      </div>

      <div class="forms__input_container">
        <label class="forms__label" for="">Password:</label>
        <input
          class="forms__input"
          type="password"
          name=""
          placeholder="*********"
        />
      </div>

      <a href="/reset-password" class="form__reset_password">Forgot your
        password?</a>

      <button class="forms__submit_button" type="submit">Login</button>
    </form>
    {{! ------------------------------- }}
    <form class="form register_form" action="/register" method="post">
      <div class="forms__input_container">
        <label class="forms__label" for="">Email:</label>
        <input class="forms__input" type="email" name="" placeholder="Email" />
      </div>

      <div class="forms__input_container">
        <label class="forms__label" for="">Password:</label>
        <input
          class="forms__input"
          type="password"
          name=""
          placeholder="*********"
        />
      </div>

      <div class="forms__input_container">
        <label class="forms__label" for="">Confirm password:</label>
        <input
          class="forms__input"
          type="password"
          name=""
          placeholder="*********"
        />
      </div>

      <button class="forms__submit_button" type="submit">Register</button>
    </form>
  </div>
</div>

<script src="/scripts/change_form.js"></script>