<aside class="sidebar">
  <div class="profile">
    <div class="profile__info">
      <img
        src="/images/Checkbox.jpg"
        alt="Profile image"
        class="profile__image"
      />
      <span class="profile__name">probando@gmail.com</span>
    </div>
    <button class="profile__logout">Log out</button>
  </div>

  <div class="aside__nav">
    <a href="/tasks/byStatus" class="aside__link--active">Tasks</a>
    <a href="/calendar" class="aside__link">Calendar</a>
    <a href="/accounts" class="aside__link">Accounts</a>
  </div>

  <footer class="sidebar__footer">
    <p>@ Francisco Muñiz</p>
    <p>mf.franciscomuniz@gmail.com</p>
  </footer>
</aside>

<div class="content__container">
  <div class="main__image"></div>

  <div class="main__content">
    <nav class="tasks__nav">
      <a
        href="/tasks/byStatus"
        class="display__selector display__selector--active"
      >By Status</a>
      <a href="/tasks/byPriority" class="display__selector">By Priority</a>
      <a href="/tasks/byList" class="display__selector">List</a>
      <a href="/tasks/timeline" class="display__selector">Timeline</a>
    </nav>
  </div>
  <div class="cards__container">
    <div class="cards__group">
      <span class="card_group__title nextUp">Next up</span>
      {{! Next up cards bellow }}

      <div class="card">
        <p class="card__title">Card mock title</p>
        <p class="card__priority low">Low</p>
      </div>
      <div class="new_task__container">
        <hr />
        <p>+ New</p>
      </div>

    </div>
    <div class="cards__group">
      <span class="card_group__title inProgress">In Progress</span>
      {{! In progress cards bellow }}

      <div class="card">
        <p class="card__title">Card mock title</p>
        <p class="card__priority high">High</p>
      </div>
      <div class="new_task__container">
        <hr />
        <p>+ New</p>
      </div>

    </div>
    <div class="cards__group">
      <span class="card_group__title pending">Pending</span>
      {{! Pending cards bellow }}

      <div class="card">
        <p class="card__title">Card mock title</p>
        <p class="card__priority low">Low</p>
      </div>

      <div class="card">
        <p class="card__title">Card mock title</p>
        <p class="card__priority low">Low</p>
      </div>

      <div class="new_task__container">
        <hr />
        <p>+ New</p>
      </div>

    </div>
    <div class="cards__group">
      <span class="card_group__title completed">Completed</span>
      {{! Completed cards bellow }}

      <div class="card">
        <p class="card__title">Card mock title</p>
        <p class="card__priority low">Low</p>
      </div>

      <div class="card">
        <p class="card__title">Card mock title</p>
        <p class="card__priority medium">Medium</p>
      </div>

      <div class="card">
        <p class="card__title">Card mock title</p>
        <p class="card__priority medium">Medium</p>
      </div>

      <div class="card">
        <p class="card__title">Card mock title</p>
        <p class="card__priority low">Low</p>
      </div>

      <div class="new_task__container">
        <hr />
        <p>+ New</p>
      </div>

    </div>
    <div class="cards__group">
      <span class="card_group__title discarded">Discarded</span>
      {{! Discarded cards bellow }}

      <div class="card">
        <p class="card__title">Card mock title</p>
        <p class="card__priority low">Low</p>
      </div>
      <div class="new_task__container">
        <hr />
        <p>+ New</p>
      </div>

    </div>
  </div>
</div>