.tasks__nav {
  width: 90%;
  border-bottom: 2px solid var(--lighter-gray);
}

.display__selector {
  margin-left: 32px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.display__selector:first-of-type {
  margin-left: 0;
}

.display__selector:hover {
  color: var(--lighter-gray);
}

.display__selector--active {
  padding: 2px 24px;
  background-color: var(--lighter-gray);
  border-radius: 10px 10px 0 0;
}

.display__selector--active:hover {
  color: #fff;
}
